
/** Header **/
header {
    border-top: 5px solid $cor-padrao;
    background: rgba(30, 44, 53, 0.8);
    height: 90px;
    width: 100%;
    position: absolute;

    @media (max-width: $ponto-de-quebra) {   
      height: auto;

      .container{
        position: static;
      }

      h1 {
        max-width: 50%;
        margin: 0 auto;

        img {
          max-width: 100%;
          margin: .5em auto;
          display: block;
        }
      }
    }
  }
  
  header .container {
    position: relative;
  }
  
  .menu-principal
   {
    position: absolute;
    right: 0;
    top: -.5em;
    font-size: 1.2em;
    font-weight: lighter;

    @media (max-width: $ponto-de-quebra) {
      position: static;
      display: block;
      text-align: center;
      width: auto;

      li {
        margin: .4em;
        width: auto;
      }
    }
  }
  
  .menu-principal ul {
    padding-left: 0;
  }
  
  .menu-principal li {
    display: inline-block;
    width: 5em;
  }
  
  .menu-principal a {
    color: white;
    text-decoration: none;
  }
  
  .menu-principal a:hover {
    text-decoration: underline;
  }
  